:root {
    --purple: #574d93;
    --gray: #8e87c0;

    --neutral: var(--gray);
    --accent: var(--purple);
}

body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
}
