.swatches {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.swatch {
    height: 30px;
    width: 22%;
    border-radius: 4px;
    background-color: #eaeaea;
    box-sizing: border-box;
    cursor: pointer;
}

.active {
    border: solid 2px var(--accent);
}

.cyan {
    background-color: rgba(5, 185, 185, 1);
}
.magenta {
    background-color: rgba(202, 13, 202, 1);
}
.green {
    background-color: rgba(35, 150, 6, 1);
}
.black {
    background-color: rgba(0, 0, 0, 1);
}
